# Configurações do Servidor
PORT=3000
NODE_ENV=development

# URLs dos Microsserviços
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002

# Configurações de CORS
CORS_ORIGIN=*

# Configurações de Timeout (em milissegundos)
REQUEST_TIMEOUT=5000

# Log Level (error, warn, info, debug)
LOG_LEVEL=info
